Package: com.nightwind.searchdots
Name: SearchDots
Version: 1.1.2
Architecture: iphoneos-arm
Description: Search Pill Ported from iOS 16
Maintainer: Nightwind
Author: Nightwind
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware (>=15.0)
Icon: https://img.chariz.cloud/icon/searchdots/icon@3x.png
